{% extends "groups/group_base.html" %}

{% block pre_group %}
    <div class="col-md-4">
        <div class="content">
            {% if user.is_authenticated %}
                <h2>Welcome Back!
                    <a href="{% url 'posts:for_user' username=user.username %}">@{{ user.username }}</a>
                </h2>
            {% endif %}
            <h2>Group List</h2>
            <p>Welcome to the groups page</p>
        </div>
        {% if user.is_authenticated %}
            <a href="{% url 'groups:group_create' %}" class="btn btn-md btn-danger">Create</a>
        {% endif %}
    </div>
{% endblock %}

{% block group_content %}
    <div class="col-md-8">
        <!-- Wrap in 'list-group' to ensure the borders and rounding look right -->
        <div class="list-group group-list ">
            {% for group in object_list %}
                <a class="card list-group-item-action text-decoration-none mb-3 p-3 shadow-sm border rounded"
                   href="{% url 'groups:single' slug=group.slug %}">
                    <h3 class="title list-group-item-heading text-primary">{{ group.name }}</h3>

                    <div class="list-group-item-text container-fluid text-dark">
                        {{ group.description_html|safe }}

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <!-- Updated badge class for Bootstrap 5 -->
                                <span class="badge rounded-pill text-bg-secondary">{{ group.members.count }}</span>
                                <small class="text-muted">member{{ group.members.count|pluralize }}</small>
                            </div>
                            <div class="col-md-4">
                                <span class="badge rounded-pill text-bg-secondary">{{ group.posts.count }}</span>
                                <small class="text-muted">post{{ group.posts.count|pluralize }}</small>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
